<div class="container">
  <div class="container-header">
    <span class="container-header-text">
      Carrera
    </span>
  </div>
  <div class="container-body">
    <div class="container-body-column left">
      <app-career-branch class="container-body-column-branch" [right]="true" year="2014"
        title="Inglés B1, Cambridge">
      </app-career-branch>
      <app-career-branch class="container-body-column-branch"></app-career-branch>
      <app-career-branch class="container-body-column-branch" [right]="true" year="2020"
        title="Graduado en Ingeniería Informática – Ingeniería del Software, Universidad de Sevilla">
      </app-career-branch>
      <app-career-branch class="container-body-column-branch"></app-career-branch>
    </div>
    <div class="container-body-middle"></div>
    <div class="container-body-column right">
      <app-career-branch class="container-body-column-branch"></app-career-branch>
      <app-career-branch class="container-body-column-branch" year="2015"
        title="Bachiller - Modalidad de Ciencias y Tecnología, IES Guadalquivir"></app-career-branch>
      <app-career-branch class="container-body-column-branch"></app-career-branch>
      <app-career-branch class="container-body-column-branch" [professional]="true" year="Febrero de 2021"
        title="Beateam S.L. - Programador fullstack (Laravel y Angular)"></app-career-branch>
    </div>
  </div>
</div>